# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Code Injection
#
# After new code Injection tools there's a generated folder /iOSInjectionProject
# https://github.com/johnno1962/injectionforxcode

iOSInjectionProject/
ConvenientLoginDemo/Pods/APLKeyboardControls/LICENSE
ConvenientLoginDemo/Pods/APLKeyboardControls/README.md
ConvenientLoginDemo/Pods/APLKeyboardControls/Classes/APLKeyboardControls.h
ConvenientLoginDemo/Pods/APLKeyboardControls/Classes/APLKeyboardControls.m
ConvenientLoginDemo/Pods/Headers/Private/APLKeyboardControls/APLKeyboardControls.h
ConvenientLoginDemo/Pods/Headers/Private/MBProgressHUD/MBProgressHUD.h
ConvenientLoginDemo/Pods/Headers/Private/NSData+Base64/NSData+Base64.h
ConvenientLoginDemo/Pods/Headers/Private/Reachability/Reachability.h
ConvenientLoginDemo/Pods/Headers/Private/TYAlertController/TYAlertController.h
ConvenientLoginDemo/Pods/Headers/Private/TYAlertController/TYAlertDropDownAnimation.h
ConvenientLoginDemo/Pods/Headers/Private/TYAlertController/TYAlertFadeAnimation.h
ConvenientLoginDemo/Pods/Headers/Private/TYAlertController/TYAlertScaleFadeAnimation.h
ConvenientLoginDemo/Pods/Headers/Private/TYAlertController/TYAlertView.h
ConvenientLoginDemo/Pods/Headers/Private/TYAlertController/TYBaseAnimation.h
ConvenientLoginDemo/Pods/Headers/Private/TYAlertController/TYShowAlertView.h
ConvenientLoginDemo/Pods/Headers/Private/TYAlertController/UIView+TYAlertView.h
ConvenientLoginDemo/Pods/Headers/Private/TYAlertController/UIView+TYAutoLayout.h
ConvenientLoginDemo/Pods/Headers/Public/APLKeyboardControls/APLKeyboardControls.h
ConvenientLoginDemo/Pods/Headers/Public/MBProgressHUD/MBProgressHUD.h
ConvenientLoginDemo/Pods/Headers/Public/NSData+Base64/NSData+Base64.h
ConvenientLoginDemo/Pods/Headers/Public/Reachability/Reachability.h
ConvenientLoginDemo/Pods/Headers/Public/TYAlertController/TYAlertController.h
ConvenientLoginDemo/Pods/Headers/Public/TYAlertController/TYAlertDropDownAnimation.h
ConvenientLoginDemo/Pods/Headers/Public/TYAlertController/TYAlertFadeAnimation.h
ConvenientLoginDemo/Pods/Headers/Public/TYAlertController/TYAlertScaleFadeAnimation.h
ConvenientLoginDemo/Pods/Headers/Public/TYAlertController/TYAlertView.h
ConvenientLoginDemo/Pods/Headers/Public/TYAlertController/TYBaseAnimation.h
ConvenientLoginDemo/Pods/Headers/Public/TYAlertController/TYShowAlertView.h
ConvenientLoginDemo/Pods/Headers/Public/TYAlertController/UIView+TYAlertView.h
ConvenientLoginDemo/Pods/Headers/Public/TYAlertController/UIView+TYAutoLayout.h
ConvenientLoginDemo/Pods/MBProgressHUD/LICENSE
ConvenientLoginDemo/Pods/MBProgressHUD/MBProgressHUD.h
ConvenientLoginDemo/Pods/MBProgressHUD/MBProgressHUD.m
ConvenientLoginDemo/Pods/MBProgressHUD/README.mdown
ConvenientLoginDemo/Pods/NSData+Base64/NSData+Base64.h
ConvenientLoginDemo/Pods/NSData+Base64/NSData+Base64.m
ConvenientLoginDemo/Pods/Pods.xcodeproj/project.pbxproj
ConvenientLoginDemo/Pods/Reachability/LICENCE.txt
ConvenientLoginDemo/Pods/Reachability/Reachability.h
ConvenientLoginDemo/Pods/Reachability/Reachability.m
ConvenientLoginDemo/Pods/Reachability/README.md
ConvenientLoginDemo/Pods/Target Support Files/APLKeyboardControls/APLKeyboardControls-dummy.m
ConvenientLoginDemo/Pods/Target Support Files/APLKeyboardControls/APLKeyboardControls-prefix.pch
ConvenientLoginDemo/Pods/Target Support Files/APLKeyboardControls/APLKeyboardControls.xcconfig
ConvenientLoginDemo/Pods/Target Support Files/MBProgressHUD/MBProgressHUD-dummy.m
ConvenientLoginDemo/Pods/Target Support Files/MBProgressHUD/MBProgressHUD-prefix.pch
ConvenientLoginDemo/Pods/Target Support Files/MBProgressHUD/MBProgressHUD.xcconfig
ConvenientLoginDemo/Pods/Target Support Files/NSData+Base64/NSData+Base64-dummy.m
ConvenientLoginDemo/Pods/Target Support Files/NSData+Base64/NSData+Base64-prefix.pch
ConvenientLoginDemo/Pods/Target Support Files/NSData+Base64/NSData+Base64.xcconfig
ConvenientLoginDemo/Pods/Target Support Files/Pods-ConvenientLoginDemo/Pods-ConvenientLoginDemo-acknowledgements.markdown
ConvenientLoginDemo/Pods/Target Support Files/Pods-ConvenientLoginDemo/Pods-ConvenientLoginDemo-acknowledgements.plist
ConvenientLoginDemo/Pods/Target Support Files/Pods-ConvenientLoginDemo/Pods-ConvenientLoginDemo-dummy.m
ConvenientLoginDemo/Pods/Target Support Files/Pods-ConvenientLoginDemo/Pods-ConvenientLoginDemo-frameworks.sh
ConvenientLoginDemo/Pods/Target Support Files/Pods-ConvenientLoginDemo/Pods-ConvenientLoginDemo-resources.sh
ConvenientLoginDemo/Pods/Target Support Files/Pods-ConvenientLoginDemo/Pods-ConvenientLoginDemo.debug.xcconfig
ConvenientLoginDemo/Pods/Target Support Files/Pods-ConvenientLoginDemo/Pods-ConvenientLoginDemo.release.xcconfig
ConvenientLoginDemo/Pods/Target Support Files/Reachability/Reachability-dummy.m
ConvenientLoginDemo/Pods/Target Support Files/Reachability/Reachability-prefix.pch
ConvenientLoginDemo/Pods/Target Support Files/Reachability/Reachability.xcconfig
ConvenientLoginDemo/Pods/Target Support Files/TYAlertController/TYAlertController-dummy.m
ConvenientLoginDemo/Pods/Target Support Files/TYAlertController/TYAlertController-prefix.pch
ConvenientLoginDemo/Pods/Target Support Files/TYAlertController/TYAlertController.xcconfig
ConvenientLoginDemo/Pods/TYAlertController/LICENSE
ConvenientLoginDemo/Pods/TYAlertController/README.md
ConvenientLoginDemo/Pods/TYAlertController/TYAlertControllerDemo/TYAlertController/TYAlertController+TransitionAnimate.m
ConvenientLoginDemo/Pods/TYAlertController/TYAlertControllerDemo/TYAlertController/TYAlertController.h
ConvenientLoginDemo/Pods/TYAlertController/TYAlertControllerDemo/TYAlertController/TYAlertController.m
ConvenientLoginDemo/Pods/TYAlertController/TYAlertControllerDemo/TYAlertController/TYAlertDropDownAnimation.h
ConvenientLoginDemo/Pods/TYAlertController/TYAlertControllerDemo/TYAlertController/TYAlertDropDownAnimation.m
ConvenientLoginDemo/Pods/TYAlertController/TYAlertControllerDemo/TYAlertController/TYAlertFadeAnimation.h
ConvenientLoginDemo/Pods/TYAlertController/TYAlertControllerDemo/TYAlertController/TYAlertFadeAnimation.m
ConvenientLoginDemo/Pods/TYAlertController/TYAlertControllerDemo/TYAlertController/TYAlertScaleFadeAnimation.h
ConvenientLoginDemo/Pods/TYAlertController/TYAlertControllerDemo/TYAlertController/TYAlertScaleFadeAnimation.m
ConvenientLoginDemo/Pods/TYAlertController/TYAlertControllerDemo/TYAlertController/TYAlertView.h
ConvenientLoginDemo/Pods/TYAlertController/TYAlertControllerDemo/TYAlertController/TYAlertView.m
ConvenientLoginDemo/Pods/TYAlertController/TYAlertControllerDemo/TYAlertController/TYBaseAnimation.h
ConvenientLoginDemo/Pods/TYAlertController/TYAlertControllerDemo/TYAlertController/TYBaseAnimation.m
ConvenientLoginDemo/Pods/TYAlertController/TYAlertControllerDemo/TYAlertController/TYShowAlertView.h
ConvenientLoginDemo/Pods/TYAlertController/TYAlertControllerDemo/TYAlertController/TYShowAlertView.m
ConvenientLoginDemo/Pods/TYAlertController/TYAlertControllerDemo/TYAlertController/UIView+TYAlertView.h
ConvenientLoginDemo/Pods/TYAlertController/TYAlertControllerDemo/TYAlertController/UIView+TYAlertView.m
ConvenientLoginDemo/Pods/TYAlertController/TYAlertControllerDemo/TYAlertController/UIView+TYAutoLayout.h
ConvenientLoginDemo/Pods/TYAlertController/TYAlertControllerDemo/TYAlertController/UIView+TYAutoLayout.m
ConvenientLoginDemo/Pods/ConvenientLogin/ConvenientLogin/Classes/Network/LLUserNetworkRequest.m
ConvenientLoginDemo/Pods/ConvenientLogin/ConvenientLogin/Classes/Network/LLUserNetworkRequestSerializer.h
ConvenientLoginDemo/Pods/ConvenientLogin/ConvenientLogin/Classes/Network/LLUserNetworkRequestSerializer.m
ConvenientLoginDemo/Pods/ConvenientLogin/ConvenientLogin/Classes/ThirdParty/LLSSUserInfo.h
ConvenientLoginDemo/Pods/ConvenientLogin/ConvenientLogin/Classes/ThirdParty/LLSSUserInfo.m
ConvenientLoginDemo/Pods/ConvenientLogin/ConvenientLogin/Classes/ThirdParty/LLUserApiManager.h
ConvenientLoginDemo/Pods/ConvenientLogin/ConvenientLogin/Classes/ThirdParty/LLUserApiManager.m
ConvenientLoginDemo/Pods/ConvenientLogin/ConvenientLogin/Classes/ThirdParty/LLUserSDKConnector.h
ConvenientLoginDemo/Pods/ConvenientLogin/ConvenientLogin/Classes/ThirdParty/LLUserSDKConnector.m
ConvenientLoginDemo/Pods/ConvenientLogin/ConvenientLogin/Classes/ThirdParty/LLUserThirdPartyAccount.h
ConvenientLoginDemo/Pods/ConvenientLogin/ConvenientLogin/Classes/ThirdParty/LLUserThirdPartyAccount.m
ConvenientLoginDemo/Pods/ConvenientLogin/ConvenientLogin/Classes/ThirdParty/NSMutableDictionary+LLUserSDKInit.h
ConvenientLoginDemo/Pods/ConvenientLogin/ConvenientLogin/Classes/ThirdParty/NSMutableDictionary+LLUserSDKInit.m
ConvenientLoginDemo/Pods/ConvenientLogin/ConvenientLogin/Classes/Tools/LLUserConstant.h
ConvenientLoginDemo/Pods/ConvenientLogin/ConvenientLogin/Classes/Tools/LLUserFormatTime.h
ConvenientLoginDemo/Pods/ConvenientLogin/ConvenientLogin/Classes/Tools/LLUserFormatTime.m
ConvenientLoginDemo/Pods/ConvenientLogin/ConvenientLogin/Classes/Tools/LLUserHudTool.h
ConvenientLoginDemo/Pods/ConvenientLogin/ConvenientLogin/Classes/Tools/LLUserHudTool.m
ConvenientLoginDemo/Pods/ConvenientLogin/ConvenientLogin/Classes/Tools/LLUserLocalizable.h
ConvenientLoginDemo/Pods/ConvenientLogin/ConvenientLogin/Classes/Tools/LLUserLocalizable.m
ConvenientLoginDemo/Pods/ConvenientLogin/ConvenientLogin/Classes/Tools/LLUserScanCode.h
ConvenientLoginDemo/Pods/ConvenientLogin/ConvenientLogin/Classes/Tools/LLUserScanCode.m
ConvenientLoginDemo/Pods/ConvenientLogin/ConvenientLogin/Classes/Tools/LLUserValidate.h
ConvenientLoginDemo/Pods/ConvenientLogin/ConvenientLogin/Classes/Tools/LLUserValidate.m
ConvenientLoginDemo/Pods/ConvenientLogin/ConvenientLogin/Lib/WeChatSDK/libWeChatSDK.a
ConvenientLoginDemo/Pods/ConvenientLogin/ConvenientLogin/Lib/WeChatSDK/WechatAuthSDK.h
ConvenientLoginDemo/Pods/ConvenientLogin/ConvenientLogin/Lib/WeChatSDK/WXApi.h
ConvenientLoginDemo/Pods/ConvenientLogin/ConvenientLogin/Lib/WeChatSDK/WXApiObject.h
ConvenientLoginDemo/Pods/Headers/Private/ConvenientLogin/LLSSUserInfo.h
ConvenientLoginDemo/Pods/Headers/Private/ConvenientLogin/LLUserApiManager.h
ConvenientLoginDemo/Pods/Headers/Private/ConvenientLogin/LLUserConstant.h
ConvenientLoginDemo/Pods/Headers/Private/ConvenientLogin/LLUserFormatTime.h
ConvenientLoginDemo/Pods/Headers/Private/ConvenientLogin/LLUserHudTool.h
ConvenientLoginDemo/Pods/Headers/Private/ConvenientLogin/LLUserLocalizable.h
ConvenientLoginDemo/Pods/Headers/Private/ConvenientLogin/LLUserNetInterface.h
ConvenientLoginDemo/Pods/Headers/Private/ConvenientLogin/LLUserNetworkManager.h
ConvenientLoginDemo/Pods/Headers/Private/ConvenientLogin/LLUserNetworkRequest.h
ConvenientLoginDemo/Pods/Headers/Private/ConvenientLogin/LLUserNetworkRequestSerializer.h
ConvenientLoginDemo/Pods/Headers/Private/ConvenientLogin/LLUserScanCode.h
ConvenientLoginDemo/Pods/Headers/Private/ConvenientLogin/LLUserSDKConnector.h
ConvenientLoginDemo/Pods/Headers/Private/ConvenientLogin/LLUserThirdPartyAccount.h
ConvenientLoginDemo/Pods/Headers/Private/ConvenientLogin/LLUserThirdPartyLoginManger.h
ConvenientLoginDemo/Pods/Headers/Private/ConvenientLogin/LLUserValidate.h
ConvenientLoginDemo/Pods/Headers/Private/ConvenientLogin/NSMutableDictionary+LLUserSDKInit.h
ConvenientLoginDemo/Pods/Headers/Private/ConvenientLogin/WechatAuthSDK.h
ConvenientLoginDemo/Pods/Headers/Private/ConvenientLogin/WXApi.h
ConvenientLoginDemo/Pods/Headers/Private/ConvenientLogin/WXApiObject.h
ConvenientLoginDemo/Pods/Headers/Public/ConvenientLogin/LLSSUserInfo.h
ConvenientLoginDemo/Pods/Headers/Public/ConvenientLogin/LLUserApiManager.h
ConvenientLoginDemo/Pods/Headers/Public/ConvenientLogin/LLUserConstant.h
ConvenientLoginDemo/Pods/Headers/Public/ConvenientLogin/LLUserFormatTime.h
ConvenientLoginDemo/Pods/Headers/Public/ConvenientLogin/LLUserHudTool.h
ConvenientLoginDemo/Pods/Headers/Public/ConvenientLogin/LLUserLocalizable.h
ConvenientLoginDemo/Pods/Headers/Public/ConvenientLogin/LLUserNetInterface.h
ConvenientLoginDemo/Pods/Headers/Public/ConvenientLogin/LLUserNetworkManager.h
ConvenientLoginDemo/Pods/Headers/Public/ConvenientLogin/LLUserNetworkRequest.h
ConvenientLoginDemo/Pods/Headers/Public/ConvenientLogin/LLUserNetworkRequestSerializer.h
ConvenientLoginDemo/Pods/Headers/Public/ConvenientLogin/LLUserScanCode.h
ConvenientLoginDemo/Pods/Headers/Public/ConvenientLogin/LLUserSDKConnector.h
ConvenientLoginDemo/Pods/Headers/Public/ConvenientLogin/LLUserThirdPartyAccount.h
ConvenientLoginDemo/Pods/Headers/Public/ConvenientLogin/LLUserThirdPartyLoginManger.h
ConvenientLoginDemo/Pods/Headers/Public/ConvenientLogin/LLUserValidate.h
ConvenientLoginDemo/Pods/Headers/Public/ConvenientLogin/NSMutableDictionary+LLUserSDKInit.h
ConvenientLoginDemo/Pods/Headers/Public/ConvenientLogin/WechatAuthSDK.h
ConvenientLoginDemo/Pods/Headers/Public/ConvenientLogin/WXApi.h
ConvenientLoginDemo/Pods/Headers/Public/ConvenientLogin/WXApiObject.h
ConvenientLoginDemo/Pods/Target Support Files/ConvenientLogin/ConvenientLogin-dummy.m
ConvenientLoginDemo/Pods/Target Support Files/ConvenientLogin/ConvenientLogin-prefix.pch
ConvenientLoginDemo/Pods/Target Support Files/ConvenientLogin/ConvenientLogin.xcconfig
ConvenientLoginDemo/Pods/ConvenientLogin/README.md
ConvenientLoginDemo/Pods/ConvenientLogin/ConvenientLogin/Classes/LLUserThirdPartyLoginManger.h
ConvenientLoginDemo/Pods/ConvenientLogin/ConvenientLogin/Classes/LLUserThirdPartyLoginManger.m
ConvenientLoginDemo/Pods/ConvenientLogin/ConvenientLogin/Classes/Network/LLUserNetInterface.h
ConvenientLoginDemo/Pods/ConvenientLogin/ConvenientLogin/Classes/Network/LLUserNetworkManager.h
ConvenientLoginDemo/Pods/ConvenientLogin/ConvenientLogin/Classes/Network/LLUserNetworkManager.m
ConvenientLoginDemo/Pods/ConvenientLogin/ConvenientLogin/Classes/Network/LLUserNetworkRequest.h
